[*.cs]

# CS8618: 在退出构造函数时，不可为 null 的字段必须包含非 null 值。请考虑添加 "required" 修饰符或声明为可为 null。
dotnet_diagnostic.CS8618.severity = silent

# SKEXP0110: 类型仅用于评估，在将来的更新中可能会被更改或删除。取消此诊断以继续。
dotnet_diagnostic.SKEXP0110.severity = silent

# CS8600: 将 null 字面量或可能为 null 的值转换为非 null 类型。
dotnet_diagnostic.CS8600.severity = silent

# CS8602: 解引用可能出现空引用。
dotnet_diagnostic.CS8602.severity = silent

# CS8601: 引用类型赋值可能为 null。
dotnet_diagnostic.CS8601.severity = silent

# CS8604: 引用类型参数可能为 null。
dotnet_diagnostic.CS8604.severity = none

# CS8603: 可能返回 null 引用。
dotnet_diagnostic.CS8603.severity = silent

# CS8619: 值中的引用类型的为 Null 性与目标类型不匹配。
dotnet_diagnostic.CS8619.severity = silent